---
import BaseLayout from '~/layouts/BaseLayout.astro'
---

<BaseLayout
  title="About | hawkings.me"
  description="About hawkings.me and Angus Hawkings"
>
  <article>
    <h1>About</h1>
    <p>A page all about this website.</p>
  </article>
</BaseLayout>

<style>
  article {
    padding: 1rem 0;
  }

  h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
</style>
