---
import BaseLayout from '~/layouts/BaseLayout.astro'
---

<BaseLayout
  title="Projects | hawkings.me"
  description="Projects by Angus Hawkings"
>
  <article>
    <h1>Projects</h1>
    <p>My projects.</p>
  </article>
</BaseLayout>

<style>
  article {
    padding: 1rem 0;
  }

  h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
</style>
