---
const currentPath = Astro.url.pathname
---

<nav>
  <ul>
    <li>
      <a href="/" aria-current={currentPath === '/' ? 'page' : undefined}>
        Home
      </a>
    </li>
    <li>
      <a
        href="/about"
        aria-current={currentPath === '/about' ? 'page' : undefined}
      >
        About
      </a>
    </li>
    <li>
      <a
        href="/projects"
        aria-current={currentPath === '/projects' ? 'page' : undefined}
      >
        Projects
      </a>
    </li>
  </ul>
</nav>

<style>
  nav {
    padding-bottom: 1rem;
    border-bottom: 1px solid #27272a;
  }

  ul {
    display: flex;
    gap: 1.5rem;
    list-style: none;
  }

  a {
    font-weight: 500;
    padding: 0.5rem 0;
    position: relative;
  }

  a[aria-current='page'] {
    color: var(--color-accent-hover);
  }

  a[aria-current='page']::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: var(--color-accent);
  }
</style>
