name: Format code with Prettier
on:
  push:
jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - name: "Clone repo"
        uses: actions/checkout@v5
        with:
          GITHUB_TOKEN: ${{ secrets.REPO_SCOPED_TOKEN }}
          ref: ${{ github.head_ref }}
      - name: Use Node.js
        uses: actions/setup-node@v3.6.0
        with:
          # Cache npm packages
          cache: 'npm'
          # Use the nvm file to ask for the latest LTS version of Node.js
          node-version-file: '.nvmrc'
          # Update to the latest version of Node.js every time
          check-latest: true
      - name: Update npm and install packages
        run: npm install -g npm && npm ci
      - name: Format Code
        run: npm run format
      - name: "Import GPG key"
        id: import-gpg
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.PASSPHRASE }}
          git_user_signingkey: true
          git_commit_gpgsign: true
      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_author: "${{ steps.import-gpg.outputs.name }} <${{ steps.import-gpg.outputs.email }}>"
          commit_user_name: ${{ steps.import-gpg.outputs.name }}
          commit_user_email: ${{ steps.import-gpg.outputs.email }}
          commit_message: "[AUTO] Format code with prettier"
          branch: ${{ github.head_ref }}
